
div.content {
    border: 2px solid rgb(140, 140, 229) ;
    padding: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
}
form {
    color: white;
}
.gender {
    color: black;
    margin-right: 24px;
    margin-left: 8px;
}

form label.label {
    background-color: rgb(163, 163, 238);
    border: 2px solid rgb(140, 140, 229) ;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    min-width: 150px;
}
form input.input,
form select.input {
    border: 2px solid rgb(140, 140, 229) ;
    
}
form input.btn {
    background-color: rgb(81, 167, 81);
    border: 2px solid rgb(92, 180, 114) ;
    padding-left: 16px;
    padding-right: px;
}
